body
{
    padding: 0 10%;
}

h1
{
    color :blueviolet;
    font-size: 72;
}

h4
{
    color :brown;
}

.command
{
    border: 1px solid;
    border-color: lightblue;
    font-size: x-large;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 3px;
    box-shadow: 0 0 3px 0px #00000033;
}

.command:hover
{
    color: red;
}